@@include('header.inc')

<main id="main" class="container">
  <section class="feature">
    <h1>'Allo, 'Allo!</h1>
    <p>Lorem ipsum</p>
    <ul>
      <li>Dolor sit amet, consectetur adipisicing elit. Quod, harum!</li>
    </ul>
  </section>
  <section class="feature">
    <h1>'Allo, 'Allo!</h1>
    <p>Lorem ipsum</p>
    <ul>
      <li>Dolor sit amet, consectetur adipisicing elit. Quod, harum!</li>
    </ul>
  </section>
  <section class="feature">
    <h1>'Allo, 'Allo!</h1>
    <p>Lorem ipsum</p>
    <ul>
      <li>Dolor sit amet, consectetur adipisicing elit. Quod, harum!</li>
    </ul>
  </section>
</main>

@@include('footer.inc')
