@import "bourbon";

$outside-gutter: 20px;
$max-width: 940px + $outside-gutter*2;
$gutter: 20px;
$grid-columns: 3;
$column: ($max-width / $grid-columns) - $gutter + ($gutter / $grid-columns);

$visual-grid: false;

$base-font-family: $helvetica;

@import "neat";

@import "base";
@import "layouts/layout";
@import "modules/feature";
